# Untapped iggies...
.idea
.DS_Store
.vagrant

#ignore backups, logs, and temporary files
*bu-*
logs
tmp

vendor
etc/phpcs/wpcs

etc/production-conf.php

work
web
wproot
wproot/revision
~wproot/dev-conf.php
~wproot/staging-conf.php
~wproot/production-conf.php

# ls wproot/wordpress|awk '{print "wproot/wordpress/"$1}' >>.gitignore
wproot/wordpress/composer.json
wproot/wordpress/index.php
wproot/wordpress/license.txt
wproot/wordpress/readme.html
wproot/wordpress/wp-activate.php
wproot/wordpress/wp-admin
wproot/wordpress/wp-blog-header.php
wproot/wordpress/wp-comments-post.php
wproot/wordpress/wp-config-sample.php
wproot/wordpress/wp-content
wproot/wordpress/wp-cron.php
wproot/wordpress/wp-includes
wproot/wordpress/wp-links-opml.php
wproot/wordpress/wp-load.php
wproot/wordpress/wp-login.php
wproot/wordpress/wp-mail.php
wproot/wordpress/wp-settings.php
wproot/wordpress/wp-signup.php
wproot/wordpress/wp-trackback.php
wproot/wordpress/xmlrpc.php

# ls wproot/wordpress/wp-content|awk '{print "~wproot/wordpress/wp-content/"$1}' >>.gitignore
~wproot/wordpress/wp-content/plugins
~wproot/wordpress/wp-content/mu-plugins
~wproot/wordpress/wp-content/themes
